@import "normalize.css";
@import "../fonts/!fonts.css";
@import "default.scss";
@import "font-awesome.css";
@import "jquery.bxslider.css";

body {
    height: 100%;
    width: 100%;
}

// Mixins

@mixin txtupdate {
                position: relative;
            
            &:before {
                    content: '';
                    width: 20px;
                    height: 4px;
                    background: #fff;
                    position: absolute;
                    top: 50%;
                    left: 10%;
            }
            
            &:after {
                    content: '';
                    width: 20px;
                    height: 4px;
                    background: #fff;
                    position: absolute;
                    top: 50%;
                    right: 10%;
            }
}

@mixin txtupdateblack {
                position: relative;
            
            &:before {
                    content: '';
                    width: 20px;
                    height: 4px;
                    background: #373e42;
                    position: absolute;
                    top: 50%;
                    left: -10%;
            }
            
            &:after {
                    content: '';
                    width: 20px;
                    height: 4px;
                    background: #373e42;
                    position: absolute;
                    top: 50%;
                    right: -10%;
            }
}

@mixin txtupdatetransparent {
                position: relative;
            
            &:before {
                    content: '';
                    width: 20px;
                    height: 4px;
                    background: #373e42;
                    position: absolute;
                    top: 50%;
                    left: -50%;
            }
            
            &:after {
                    content: '';
                    width: 20px;
                    height: 4px;
                    background: #373e42;
                    position: absolute;
                    top: 50%;
                    right: -50%;
            }
}


 //Parallax 



.layer1, .layer2, .layer3, .layer4, .layer5, .layer6, .layer7, .layer8, .layer9 {
    position:absolute
}

.layer1{
    background:url(../img/backgrounds/index.png) no-repeat;
    z-index: 20;
    background-size: 70%;
    width:100%;
    height:36%;

    
}
.layer2{
    background:url(../img/backgrounds/index-1.png) no-repeat;
    z-index: 19;
    background-size: 70%;
    width: 80%;
    height:523px;
    top:0px;
    left:0px}

.layer3{background:url(../img/backgrounds/index-2.png);
    z-index: 18;
    width:100% !important;
    height:503px;
    top:0px;
    left:0px}

.layer4{
    background:url(../img/backgrounds/index-3.png) no-repeat;
    z-index: 17;
    background-size: 30%;
    width: 100% !important;
    height:523px;
    top:0px;
    left:0px}

.layer5{background:url(../img/backgrounds/index-4.png) 50% 50% no-repeat;
    z-index: 16;
    background-size: cover;
    width:100% !important;
    height:100%;
    top:0px;
    left:0px}

.layer6{
    background:url(../img/backgrounds/index-5.png) 50% 50% no-repeat;
    z-index: 15;
    background-size: cover;
    width:100% !important;
    height:100%;
    top:0px;
    left:0px
}

.layer7 {
    background:url(../img/backgrounds/index-6.png) 50% 50% no-repeat;
    z-index: 15;
    background-size: 30%;
    width:100% !important;
    height:100%;
    top:0px;
    left:0px
    
}

.layer8 {
    background:url(../img/backgrounds/index-7.png) 50% 50% no-repeat;
    z-index: 14;
    background-size: cover;
    width:100% !important;
    height:100%;
    top:0px;
    left:0px
    
}

.layer9 {
    background:url(../img/backgrounds/index-8.png) 50% 50% no-repeat;
    z-index: 13;
    background-size: cover;
    width:100% !important;
    height:100%;
    top:0px;
    left:0px
    
}


// Index flipper

.order__radio-elem .order__people-fake:checked+.order__people-fake:after {
    background: url(../img/icons/check.svg) 50% no-repeat transparent;
    background-size: contain;
    width: 11px;
    height: 9px;
}

.order__people-title {
    margin-left: 10px;
}

.front {
}

.back {
    
    .robot__title {
        font-family: 'Roboto-Bold';
        color: #64767f;
        text-align: center;
        margin: 20px 0;
    }
    
    [type=checkbox], [type=radio] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}
    

    
.order__radio-elem {
    position: absolute;
    top: 0;
    left: -9999px;
}
    
    .order__people-fake {
        width: 16px;
        height: 16px;
        background: #00bfa5;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        
        &:after {
    content: "";
    display: block;
    position: absolute;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    background-color: #fff;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: width .3s, height .3s;
    transition: width .3s, height .3s;
}
        
    }
    
    .order__radio-elem:checked+.order__radio-fake:after {
    width: 8px;
    height: 8px;
}
    
    .order__people {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        font-family: 'Roboto-Regular';
        color: #455a64;
        
    }
    
    .back__title {
        font-family: 'Bernier-Regular';
        font-size: 35px;
        color: #455a64;
        text-align: center;
        margin: 40px 0;
    } 
    
    .back__form {
        .form__login {
            display: flex;
            justify-content: center;
            width: 70%;
            margin: 0 auto;
            display: flex;
            border: 2px solid #455a64;
            border-radius: 5px;
            margin-top: 10px;
            height: 25px;
            
            .form-input {
                color: black;
                width: 90%;
                background: #fefefe;
                border: none;
            }
        }
        
        .form__login-icon {
            width: 10%;
            background-color: #f0efe9;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}


// 

.swipe {
  border-radius: 50%;
  background-color: rgb(0, 191, 165);
  box-shadow: 3px 0px 3px 0px rgba(0, 0, 0, 0.2);
  position: fixed;
  left: -51px;
  top: 50%;
  width: 60px;
  height: 60px;
  z-index: 51;
  display: none;
}


.web {
    
    z-index: 2;
    display: flex;
    flex-direction: column;
}



.wrapper {
    height: 100vh;
    width: 100%;
    background: url(../img/backgrounds/index-bg.jpg) 50% 50% no-repeat;
    background-size: cover;
}


.login {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: row;


    .login__link {
        z-index: 500;
        margin-top: 25px;
        margin-right: 100px;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 5px;
        padding: 15px 30px;
        text-decoration: none;
        font-family: 'Roboto-Medium';
        
                    &:hover {
            color: #88e1d5;
            background: #fff;
            transition: .3s all;
        }
}
    



}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100% - 130px);
    
        
    .infoblock__welcome {
            z-index: 5000;
            height: 400px;
            width: 375px;
            position: relative;
            -webkit-perspective: 800px;
            -moz-perspective: 800px;
            -o-perspective: 800px;
            perspective: 800px;
    }
    
        .infoblock {
            height: 100%;
            width: 100%;
            border-radius: 5px;
            background-color: rgb(252, 252, 252);
            opacity: 0.851;
            overflow: hidden;
            
            // position: absolute;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;
            

            
            .infoblock__name {
                font-family: 'Roboto-Medium';
                font-size: 28px;
                text-align: center;
                color: #455a64;
            }
            
            .infoblock__desc {
                text-align: center;
                font-family: 'Roboto-Regular';
                color: #455a64;
                margin: 20px 0 20px 0;
            }
            
                .infoblock__links-container {

                    display: flex;
                    flex-direction: row;
                    align-items: flex-end;
                
                    .infoblock__links {
                    text-decoration: none;
                    color: #fff;
                    background: #0bac96;
                    width: 125px;
                    text-align: center;
                    font-family: 'Roboto-Medium';
                    font-size: 16px;
                    padding: 20px 0;

                        &:hover {
                            background: #048981;
                            transition: .3s all;
                        }
                }
                
            }
            
            .infoblock__social {
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin-bottom: 20px;
            
                .social-svg {
                    width: 31px;
                    height: 23px;
                    fill: #0bac96;
                    margin: 0 30px 0 0;
                    opacity: 0.5;
                    
                    &:hover {
                        fill: #00bfa5;
                        opacity: 1;
                        transition: .3s all;
                    }
                }
            
            }

        }
    
//  .infoblock  div {
//    display: block;
//    height: 100%;
//    width: 100%;
//    line-height: 400px;
//    position: absolute;
//    -webkit-backface-visibility: hidden;
//    -moz-backface-visibility: hidden;
//    -o-backface-visibility: hidden;
//    backface-visibility: hidden;
//}
//    


    
}

            .infoblock__photo {
                display: flex;
                justify-content: center;
                margin: 40px 0 25px 0;
            
            .infoblock__photo-author {
                border-radius: 50%;
                width: 140px;
                height: 140px;

            }
                
        }

    .footer {  
        z-index: 5000;
        position: absolute;
        left: 38%;
        display: flex;
        justify-content: center;
        font-family: 'Roboto-Light';
        color: #fff;
        
    }

// Blog Page

.header__social {
    display: flex;
    flex-direction: row;
    
    

    
}

.arrow__header-svg {
    display: flex;
    justify-content: center;
    margin: 50px 0 0 30px;
}

    .header__social-svg {

        width: 31px;
        height: 25px;
        fill: #c7d9d8;

        &:hover {
            fill: #fff;
            transition: .3s all;
        }
    }

    .footer__social-svg {

        width: 31px;
        height: 25px;
        fill: #c7d9d8;
        margin: 0 10px 0 0;

        &:hover {
            fill: #fff;
        }
    }

.header {
    background: url(../img/backgrounds/blog-back.jpg) 50% 50% no-repeat;
    background-size: cover;
    width: 100%;
    height: 395px;
    
        .header__top {
        display: flex;
        justify-content: space-between;
        padding: 25px 200px;
    }
    
    .works__header-infoall {
        background: url(../img/icons/portfolio_header.svg) 50% 50% no-repeat;
        background-size: contain;
    }
    
    .header__info-all {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        
        .header__photo {
            .header__photo-author {
                border-radius: 50%;
                width: 140px;
                height: 140px;
            }
        }
        
        .header__about {
            background: url(../img/icons/blog_header.svg) 50% 50% no-repeat;
            background-size: cover;
            
        .header__name {
            color: #fff;
            font-family: 'Bernier-Regular';
            font-size: 63px;
            text-align: center;
            

        }
        
        .header__desc {
            color: #fff;
            font-family: 'Roboto-Regular';
            text-align: center;
        }
        }
        
        
    }
    
            .hamburger {
            height: 25px;
            width: 30px;
            fill: #fff;
        }
}

.blog__header-name {
    @include txtupdate;
}
 

.wrapper__blog {
    display: flex;
    justify-content: center;
   margin-top: -150px;
    position: relative;
    padding-top: 220px;
    


    
    .container__blog {
        width: 1080px;
    
        .article {
            .article__text {
                font-family: 'Roboto-Regular';
                color: #455a64;
                line-height: 1.3;
            }
            
//            .article__code {                        // Загатовка кода в блоге странице.
//                display: flex;
//                flex-direction: row;
//                background-color: #f5f2f0;
//                min-height: 140px;
//                margin-top: 20px;
//                
//                .code__number {
//                    min-height: 140px;
//                    background-color: #e7e5e3;
//                    width: 50px;
//                    
//                    .number__points {
//                        list-style-type: none;
//                        text-align: right;
//                    }
//                }
//            }
            
            .article__time {
                font-family: 'Roboto-Regular';
                color: #00bfa5; 
                margin: 25px 0;
            }
            
            .article__title {
                font-family: 'Bernier-Regular';
                font-size: 36px;
                color: #455a64;
            }
        }
}
    .nav {
        margin-right: 100px;
        width: 270px;
        
        .nav__menu {
            
            .nav__point {
                list-style-type: none;
                text-align: right;
                margin-bottom: 30px;

                
                .nav__link {

                font-family: 'Roboto-Regular';
                color: #455a64;
                text-decoration: none;
                
                }
                
                .nav__link-active {
                    color: #33ccb7;
                    padding: 10px 10px 10px 0;
                    border-right: 3px solid #00bfa5;
                    
                    &:after {
                        height: 40px;
                        width: 3px;
                        color: #33ccb7;
                        margin-left: 15px;
                    }
                }

            }
            
        }
    }
    
}

.article__barier {
    height: 5px;
    width: 680px;
    background: #f1f1f2;
    margin: 50px 0;
}

.blog__footer {
    display: flex;
    align-self: flex-end;
    flex-direction: column;
    background-color: rgb(55, 62, 66);
    opacity: 0.851;
    margin-top: 60px;
    width: 100%;

    
    
    .blog__footer-links {
        display: flex;
        flex-direction: row;
        margin-right: 20px;
        
        .footer__social-svg {
            fill: transparent;
        }
    }
    .site__links-point {
        list-style-type: none;
        
            .site__links-redirect {
                font-family: 'Roboto-Medium';
                text-decoration: none;
                color: #fff;
                margin-left: 40px;
            }
        }
    
    .blog__footer-about {
        font-family: 'Roboto-Light';
        color: #7d8284;
    }
    
    .blog__footer-authors {
        font-family: 'Roboto-Light';
        color: #7d8284;
    }
}

.footer__commercial-links {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #646a6d;
    
    .site__links-menu {
        display: flex;
        flex-direction: row;
        
    }
}

.blog__footer-info {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
}

   .wrapper__blog-header {
        height: 150px;
        position: absolute;
        top: 0;
        width: 100%;
        
        .svg__header-right {
            height: 150px;
            width: 50%;
            position: absolute;
            right: 0;
            fill: #fff;
        }
        .svg__header-left {
            height: 150px;
            width: 50%;
            position: absolute;
            left: 0;
            fill: #fff;
        }
            
        .svg__header-polygon {
            
        }
    }


// Works page

.works__header-top {
    padding: 25px 30px !important;
}

.works__header-about {
    
    background: none !important;
    
    .works__header-name {
    font-family: 'Roboto-Medium' !important;
    font-size: 35px !important;
    
}

.works__header-desc {
    font-family: 'Roboto-Light';
    font-size: 16px;
    
}
}


.works__footer {
    margin-top: 0 !important;
}

.wrapper__works {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 120px;
    margin-bottom: -70px;
    
    
    .works__title {
        display: flex;
        justify-content: center;
        background: url(../img/icons/works_header.svg) 50% 50% no-repeat;
        background-size: contain;
        height: 160px;
        
        .works__title-text {
            font-family: 'Bernier-Regular';
            font-size: 63px;
            color: #373e42;
            align-self: center;
            
            @include txtupdateblack;
            
        }
    }
    
    .works__block {
        display: flex !important;
        flex-direction: row !important;
        height: 100vh;
         
        .works__school {
            width: 50%;
            position: absolute;
            top: 0;
            right: 0;
            height: 100vh;
            background-color: #f0efe9;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            
            .school__title {
                font-family: 'Bernier-Regular';
                font-size: 35px;
                color: #455a64;
            }
            
            .school__desc {
                font-family: 'Roboto-Medium';
                font-size: 16px;
                color: #20b5a1;
                text-transform: uppercase;
                margin: 40px 0;
                padding: 15px 80px;
                border: 2px solid #acd6ce;
                border-left-color: transparent;
                border-right-color: transparent;
            }
            
            .school__link {
                text-decoration: none;
                color: #fff;
                padding: 15px;
                background: #00bfa5;
                border-radius: 5px;
                border-color: #00bfa5;
            }
            
        }
        
        .works__slider {
            width: 50%;
            
            .slider__photo-current {
                height: 100vh;
                width: 100%;
                background-color: #efebe0;
                display: flex;
                align-items: center;
                justify-content: center;
                
            }
            
            .slider__photo__else {
                display: flex;
                flex-direction: row;
                height: 25%;
                
                .photo__else-prev {
                    width: 50%;
                    background: url(../img/content/web-down.jpg) 50% 50% no-repeat;
                    background-size: cover;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                }
                
                .photo__else-next {
                    width: 50%;
                    background: url(../img/content/web-up.jpg) 50% 50% no-repeat;
                    background-size: cover;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
        
    }
    
    .works__header {
        margin-top: -150px;
    }
    
    .works__aboutme {
        display: flex;
        flex-direction: column;
        
        .aboutme__title {
            margin: 50px 0 50px 0;
            display: flex;
            justify-content: center;
            height: 160px;
            background: url(../img/icons/about_header.svg) 50% 50% no-repeat;
            background-size: contain;
            
            
            .aboutme__title-text {
            font-family: 'Bernier-Regular';
            font-size: 63px;
            color: #373e42;
            align-self: center;
                
                @include txtupdateblack;
            }
        }
        .aboutme__review {
            background: url(../img/backgrounds/review-bg.png) 50% 50% no-repeat;
            background-size: cover;
        }
    }
}

.review {
     display: flex;
     justify-content: center;
    
    .review__block {
        width: 370px;
        
        &:first-child {
            margin-right: 30px;
        }
        
        .review__text {
            font-family: 'Roboto-Regular';
            color: #455a64;
            line-height: 1.5;
            text-align: center;
        }
        
        .review__teachers {
            display: flex;
            flex-direction: row;
            margin-top: 30px;
            justify-content: center;
            
            .review__teachers-info {
                margin-left: 15px;
                
            .review__name {
                	font-family: 'Roboto-Bold';
                    color: #20b5a1;
                
            }
                
                .review__desc {
                    font-family: 'Roboto-Regular';
                    color: #20b5a1;
                    margin-top: 12px;
                }
                
            }
            
        
        .review__photo {
            border-radius: 50%;
        }
            
        }
   
    }
    

    
}


.review__connect-form {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    
    
        .review__connect {
            min-height: 440px;
            width: 380px;
            border-radius: 5px;
            background-color: rgba(51, 51, 51, 0.3);
            display: flex;
            align-items: center;
            flex-direction: column;
            position: relative;
            overflow: hidden;
            
            .form__title {
                text-transform: uppercase;
                font-size: 35px;
                color: #455a64;
                font-family: 'Bernier-Regular';
                margin: 30px 0;
            }
            
            .form__sendme {
                display: flex;
                flex-direction: column;
                align-items: center;
                
                .form-input {
                        width: 320px;
                        height: 35px;
                        background-color: #fff;
                        border-radius: 5px;
                        outline: 0;
                        border: 0;
                        margin-bottom: 20px;
                        resize: none;
                        padding-left: 20px;
                        font-family: 'Roboto-Regular';
                    

                    }
                
                    .form__message {
                        height: 80px;
                    }
                
            }
         
            .form__end {
              position: absolute;
              bottom: 0;
              display: flex;
              flex-direction: row;
              width: 100%;
             
                
            }
                .form__button {
                    width: 50%;
                    background-color: #268a8a;
                    border: none;
                    padding: 20px 0;
                    outline: none;
                    
                    &:hover {
                        background-color: #26bbaa;
                        transition: .3s all;
                    }
                }
            
            .send {
                border-right: 1px solid #82b7b9;
                font-family: 'Roboto-Medium';
                color: #fff;
            }
            
            .clear {
                border-left: 1px solid #82b7b9;
                font-family: 'Roboto-Medium';
                color: #fff;
                outline: none;
            }
        }

}

    .works__arrow {
        display: flex;
        justify-content: center;
        transform: rotate(180deg);
        margin: 120px 0 20px 0;
    }


// About page 

.wrapper__about {
    display: flex;
    flex-direction: column;
    margin-top: -150px;
    position: relative;
    padding-top: 150px;
    
    .myskills {
        display: flex;
        flex-direction: row;
        height: 100vh;
    }
    
    .about__article {
        width: 50%;
        display: flex;
        flex-direction: row;
        background-color: #efeee9;
        
        .article__title {
            margin: 0 50px;
            display: flex;
            width: 500px;
            height: 130px;
            background: url(../img/icons/about_header.svg) 50% 50% no-repeat;
            background-size: contain;
            align-items: center;
            justify-content: center;
            
            .about__title-text {
                font-family: 'Bernier-Regular';
                color: #373e42;
                font-size: 63px;
            }
            
        }
    }
    
    .about__skills {
        width: 50%;
        background-color: #eeebdf;
        
        .skills__title {
            margin-top: 20px;
            display: flex;
            justify-content: center;
            
                .skills__title-text {
                font-family: 'Bernier-Regular';
                font-size: 35px;
                color: #455a64;

            }
        }
        
        .skills__desc {
            font-family: 'Roboto-Regular';
            color: #455a64;
            margin: 50px 40px;
        }
        
        .skills__block {
            margin: 50px;
            
            .skills__direction {
                
                .direction__title {
                    font-family: 'Roboto-Medium';
                    font-size: 28px;
                    color: #455a64;
                    
                }
                
                .direction__svg {
                    position: relative;
                    
                    .direction__svg-html5{

                        
                        .g-circles {
                         fill: none;
                         stroke-width: 25;
                         }
                         .sector {
                         stroke-dasharray: 722;
                         stroke-dashoffset: 361;
                         transition: all 1s;
                         }
                    }
                }
                
            }
            
        }
    }
    
    .wrapper__about-header {
        width: 100%;
    }
    
    .article__desc {

        
        .article__photo-me {
          margin: 20px 0 40px 0;
          display: flex;
          justify-content: center;
            
            .about__photo-author {
                width: 350px;
                height: 390px;
            }
        }
        
        .article__desc-title {
            display: flex;
            align-items: center;

            
            .desc__title-text {
                margin: 0 auto;
                font-family: 'Bernier-Regular';
                color: #373e42;
                font-size: 35px;
                
                @include txtupdatetransparent;
            }
        }
        
        .article__myhistory {
            display: flex;
            justify-content: center;
            flex-direction: column;
            
            .article__text {
                font-family: 'Roboto-Regular';
                color: #455a64;
            }
        }
    }
    
    .wrapper__about-header {
        width: 50%;
        height: 150px;
        position: absolute;
        top: 0;
        left: 0;
        
        .svg__header-left {
                width: 100%;
                height: 150px;
                fill: #efeee9;
        }
    }
}

.blog__footer-about {
    margin-top: 0 !important;
}

.contacts {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url(../img/content/bg-map.jpg) 50% 50% no-repeat;
    background-size: cover;
    
    .contacts__block {
        width: 380px;
        height: 300px;
        border-radius: 5px;
        background-color: #e5f7f4;
        opacity: 0.8;
        display: flex;
        flex-direction: column;
        
        .contacts__block-title {
            display: flex;
            justify-content: center;
            text-transform: uppercase;
            font-family: 'Bernier-Regular';
            font-size: 35px;
            color: #373e42;
            margin-top: 35px;
            
            position: relative;
            
            &:before {
                    content: '';
                    width: 20px;
                    height: 4px;
                    background: #c2d2d0;
                    position: absolute;
                    top: 50%;
                    left: 20%;
            }
            
            &:after {
                    content: '';
                    width: 20px;
                    height: 4px;
                    background: #c2d2d0;
                    position: absolute;
                    top: 50%;
                    right: 20%;
            }
            
        }
        
        .contacts__block-points {
            margin: 0 0 30px 40px;
            
            .contacts__block-url {
                display: flex;
                flex-direction: row;
                text-decoration: none;
                
                .points__text {
                    display: flex;
                    align-self: center;
                    color: #455a64;
                    font-family: 'Roboto-Medium';
                    margin-left: 15px;
                }
            }
            
            
            .contacts__about-svg {
                height: 25px;
                width: 25px;
                
            }
        }
    }
    
}


.socials__git, .socials__vk, .socials__in {
    margin-right: 30px;
}

    .arrow__header-svg {
        margin: 50px 0 0 0px;
    }

.direction__svg-stack {
    position: absolute;
    top: 50%
}

// Media 

//Welcome 

@media (max-width: 768px) {

    .footer {
        display: none;
    }
    .login {
        justify-content: center;
    
        .login__link {
            margin-right: 0;
        }
    
    }
    
}
    
// Blog
    
    @media (min-width: 1024px) and (max-width: 1200px) {
.container__blog {
    width: 800px !important;
}

.header__top {
    padding: 25px 30px !important;
}
        
//Works 
        

// Welcome 
    
        .footer {
        display: none;
    }

}

@media (min-width: 768px) and (max-width: 1024px) {
    // Welcome 
    
        .footer {
        display: none;
    }
    
    //Blog 
    
    .container__blog {
    max-width: 800px !important;
    width: auto !important;
    padding: 0 20px !important;
}
    
    
   .header__top {
    padding: 25px 30px !important;
}
    
    .header__social-svg {
        display: block !important;
    }
    
    
    .nav {
        display: none;
    }
    
    .footer__commercial-links {
    flex-direction: column;
    align-items: center;
    
    .blog__footer-links{
        margin-top: 20px;
    }
    
}
            .blog__footer-info {
            flex-direction: column;
            align-items: center;
                
                .blog__footer-about {
                    text-align: center;
                    margin-bottom: 25px;
                }
        }
    
    //Works 
    
    .works__header-infoall {
        background: none !important;
        
    }
    
    .works__block {
        display: flex !important;
        flex-direction: column-reverse!important;
        
        .works__school {
            width: 100% !important;
            height: 25% !important;
        }
        
        .works__slider {
            width: 100% !important;
            height: 75% !important;
        }
        
    }
    
        .arrow__header-svg {
        margin: 50px 0 0 0px;
    }
    
}

@media (max-width: 768px) {
    //Blog 
    .container__blog {
    max-width: 95% !important;
    width: auto !important;
    padding: 0 20px !important;
}
    
       .header__top {
    padding: 25px 30px !important;
}
    
        .header__social-svg {
        display: block !important;
    }
    
    
    .nav {
        display: none;
    }
    

.article__barier {
    width: 80% !important;
}
    
    .footer__commercial-links {
    flex-direction: column;
    align-items: center;
    
    .blog__footer-links{
        margin-top: 20px;
    }
    
}
            .blog__footer-info {
            flex-direction: column;
            align-items: center;
                
                .blog__footer-about {
                    text-align: center;
                    margin-bottom: 25px;
                }
        }
    
    .swipe {
        display: block;
    }
    
    //Works 
    
    
    .works__header-infoall {
        background: none !important;
        
    }
    
    .works__block {
        display: flex !important;
        flex-direction: column-reverse!important;
        
        .works__school {
            width: 100% !important;
            height: 25% !important;
        }
        
        .works__slider {
            width: 100% !important;
            height: 75% !important;
        }
    }
    
    .review__block {
        width: 100% !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .review__block i {
        color: #dcdfdf;
        display: flex;
        justify-content: center;
    }
    
    .review {
        flex-direction: column;
        justify-content: center;
    }
    
    .arrow__header-svg {
        margin: 50px 0 0 0px;
    }
}
    



// JS ADDS

/* весь контейнер поддерживает перспективу */
.infoblock__welcome {
	perspective: 1000;
}
//	/* переверните сторону при проведении мышью */
	.infoblock__welcome:hover .infoblock, .infoblock__welcome.hover .infoblock {
		transform: rotateY(180deg);
	}

.infoblock__welcome, .front, .back {
	width: 375px;
	height: 400px;
}

///* здесь находится скорость перевертывания */
.infoblock {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

///* скройте обратную сторону во время переворота */
.front, .back {
	backface-visibility: hidden !important;

	position: absolute !important;
	top: 0;
	left: 0;
}

///* лицевая сторона размещена над обратной */
.front {
	z-index: 2;
}

///* обратная, изначально скрытая сторона */
.back {
	transform: rotateY(180deg);

}

.robot__confirm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.radio {
    width: 25%;
}

.checkbox {
    position:relative;
	padding-left:25px;
}

.checkbox input[type=checkbox] {
	display:none;
}

.checkbox label:after {
    background-color: #00bfa5;
	content:'';
	display:block;
	height:14px;
	width:14px;
	outline:1px solid #939598;
	position:absolute;
	top:0;
	margin-left: -20px;
}

.checkbox input[type=checkbox]:checked + label:after {
	outline:1px solid #939598;
	border:2px solid #00bfa5;
	width:10px;
	height:10px;
	background-color:#fff;
}

.checkbox .robot__label:after {
    border-radius: 50%;
	border:1px solid black;
	width:10px;
	height:10px;
	background-color:#fff;
    outline: none; 
}

.checkbox input[type=checkbox]:checked + .robot__label:after {
	border:2px solid #00bfa5;
	width:10px;
	height:10px;
	background-color:#fff;
}

.robot__label {
    font-family: 'Roboto-Regular';
    color: #455a64;
}



.menu {
    z-index: 9999;
}
//z-index menu 

.z-menu {
    opacity: 0.9;
    z-index: 5001;
    position: fixed;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background-color: #1fc5ae;
    display: flex;
    justify-content: center;
    display: none;
    
    .menu__container {
        display: flex;
        flex-direction: column;
        text-align: center;
        color: #fff;
        font-family: 'Bernier-Regular';
        font-size: 63px;
        
        .menu__container-link {
            margin-top: 60px;
            color: #fff;
            text-decoration: none;
            transition: .3s all;
            position: relative;
            
            &:before {
                    display: none;
                    content: '';
                    width: 20px;
                    height: 4px;
                    background: #373e42;
                    position: absolute;
                    top: 50%;
                    left: 35%;
            }
            
            &:after {
                    display: none;
                    content: '';
                    width: 20px;
                    height: 4px;
                    background: #373e42;
                    position: absolute;
                    top: 50%;
                    right: 35%;
            }
            
            &:hover {
                &:before {
                    display: block;
                }
                
                &:after {
                    display: block;
                }
            }
        }
    }
    
}


// Preloader 

#p_prldr{
position: fixed;
left: 0;
top: 0;
right:0;
bottom:0;
background: url(../img/content/bg-spinner.jpg) 50% 50% no-repeat;
background-size: cover;
z-index: 10000;
width: 100%;
height: 100vh;

}

 
.contpre small{font-size:25px;}
 
.contpre{
z-index: 10000;
width: 250px;
height: 100px;
position: absolute;
left: 50%;top: 48%;
margin-left:-125px;
margin-top:-75px;
color:#fff;
font-size:40px;
letter-spacing:-2px;
text-align:center;
line-height:35px;}
 
#p_prldr .svg_anm {
position: absolute;
width: 41px;
height: 41px;
background: url(../img/content/oval.svg) center center no-repeat;
background-size:41px;    
margin: -16px 0 0 -16px;}

// bx-Slider

.bx-pager-link {
    background: #fff !important;
    border: 1px solid #26bbaa;
}

.active {
    background: #26bbaa !important; 
}

.bx-next {
    right: 10px;
    background: url(../img/icons/arrow.svg) 50% 50% no-repeat !important;
    transform: rotate(-90deg);
}

.bx-prev {
    left: 10px;
    background: url(../img/icons/arrow.svg) 50% 50% no-repeat !important;
    transform: rotate(90deg);
}

.bx-controls-direction a {
    text-indent: 0 !important;
    color: transparent;
}



/// swipe menu 

.swipe__menu {
    width: 50%;
    height: 100%;
    position: fixed;
    
}
